<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @state_course.name %>
</p>

<%= link_to 'Edit', edit_state_course_path(@state_course) %> |
<%= link_to 'Back', state_courses_path %>
